<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtImageForm</title>
</head>
<body>
    <form name="test" action="dojoin" method="post">
        id: <input type="text" name="id"> </br>
        s3_url:  <input type="text" name="s3_url"> </br>
        n_blocks: <input type="number" name="n_blocks"> </br>
        completed_blocks:<input type="number" name="completed_blocks"> </br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</body>
</html>
