table.grid {
  /* width: 100%; */
  border-spacing: 0;
  border: 1px solid black;
  /* width: 100vmin; */
  /* height: 100vmin; */
  margin: 0;
  padding: 0;
}


table.gridPixel {
  /* width: 100%; */
  /* height: 100%; */
  border-spacing: 0;
}

#preview {
  /* height: 60px; */
  /* width: 60px; */
  border: 0px solid black;
  transform: scale(10);
  margin-bottom: 10px;
  image-rendering: 'pixelated';
}

body {
  margin: 0;
  padding: 0;
}

.CApp {
  margin-top: 10px;
  text-align: center;
}

.circle-picker {
  margin: 0 auto !important;
}

.Separator {
  border: none;
  height: 1px;
  width: 90%;
  border-bottom: 1px solid lightgray;
  box-shadow: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.colorPickerPopover {
  position: 'absolute';
  z-index: '2';
}

.colorPickerCover {
  position: 'fixed';
  top: '0px';
  right: '0px';
  bottom: '0px';
  left: '0px';
}
